.cartIcon {
    display: flex;
    align-self: center;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    height: 55px;
    width: 55px;
    -webkit-text-stroke: 0.1px black;
}


.cartQuantity {
    color: white;
    background-color: red;
    position: absolute;
    top: 20px;
    margin-left: 20px;
    padding: 0 7px;
    border: solid 2px red;
    border-radius: 50px;
    font-weight: bolder;
}

.nameShop{
    font-size: 1.5rem;
    font-weight: bolder;
    color: white;
    position: absolute;
    top: 58px;
    margin-left: 20px;
    -webkit-text-stroke: 0.1px black;
}
