.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navBar{
  padding-top: 10px;
  display: flex;
  justify-content: space-around;
  background-color: #282c34;
  align-items: center;
}

.navLink {
  background-color: #3c414a;
  color: #dae3e3;
  font-weight: bold;
  border-radius: 16px;
  border: #3c414a;
  padding: 4px 9px;
  transition: all 0.2s ease-out; 
}

.navLink:hover {
  background: #363a518a;
  border-radius: 10px;
  box-shadow: 0 1px 2.4px #5d636675, 0 2px 6px #5d939d4f, 0 2px 15px #76809366; }
