.botonPrueba{
    border-radius: 20px;
    padding: 15px;
    color: #ffffff;
    background-color: #3ecdcd;

}

.itemCount {
    display: flex;
    align-items: center;
    justify-content: center;
}

.count {
    margin: 5px 15px;
}

.botonesStock {
    padding-bottom: 10px;
    text-align: center;
    color: #ffffff;
    background-color: #3ecdcd;
    border-radius: 90px;
}

.plusMinus {
    font-weight: bold;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    box-sizing: border-box;
    padding: 30px 15px;
    margin: 20px;
    border: 5px;
    border-radius: 15px;
    border-width: 10px;
    background-color: #3b4250;
}

.description{
    display: block;
    text-align: center;
    font-size: 21px;
    padding: 0;
    margin: 0 20px;
    width: 400px;
}

title{
    font-size: 30px;
    font-display: auto;
}