.navBar{
    padding-top: 10px;
    justify-content: space-around;
    background-color: #282c34;
    align-items: center;
}

.navBarList {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
  
.navLink {
    background-color: #3c414a;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    border-radius: 16px;
    border: #3c414a;
    padding: 4px 9px;
    transition: all 0.2s ease-out; 
    -webkit-text-stroke: 0.1px black;
}
  
.navLink:hover {
    background: #363a518a;
    border-radius: 10px;
    box-shadow: 0 1px 2.4px #5d636675, 0 2px 6px #5d939d4f, 0 2px 15px #76809366; 
}

.desactivated {
    color: #000000;
}